@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffff;
}

input {
  padding: 10px 50px;
  border-radius: 10px;
}

.formAddTodo {
  display: flex;
  gap: 10px;
  justify-content: center;
  /* align-items: ; */
}

button {
  padding: 5px 40px;
  border-radius: 5px;
  background-color: gray;
  font: 500;
  color: #fff;
}

button:hover {
  border: 2px solid blue;
  transition: ease-in-out 0.5s;
}
ul,
li {
  text-decoration: none;
}

.todoComponent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px;
}

.todoComponentLi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
